/* ------ Page ------ */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
	background-color: #28343d;
}

.calculator{
  display: flex;
  flex-direction: column;
  background-color: black;
  min-width: 350px;
  min-height: 600px;
  border-radius: 15px;
  padding:30px
}

/* ------ Display Section ------ */

.display{
  flex: 1;
  display: flex;
  flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: flex-end;
}

.sequence{
  color: lightgray;
	font-size: 22px;
}

.result{
	color: white;
	font-size: 36px;
}

/* ------ Button Section ------ */

.buttons{
  flex: 3;
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(4, minmax(56px, 80px));
}

.buttons button{
	border: none;
	border-radius: 10px;
}

.buttons button:hover{
	background-color: lightblue;
}

.buttons button:active{
	opacity: .5;
}

.add{
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 4;
	grid-column-end: 5;
}

.zero{
	grid-column-start: 1;
	grid-column-end: 3;
}

.grey{
	background-color: #6b727a;
}

.blue{
	background-color: #6bafff;
}

.light-grey{
	background-color: lightgray;
}

